{{product | json}}
{{productForm.invalid}}
{{productForm.valid}}
{{productForm.pristine}}
{{productForm.dirty}}
{{productForm.value | json}}
{{productForm.errors | json}}

<form #productForm="ngForm" (ngSubmit)="addProduct(productForm)" novalidate>
    <div class="form-group">
        <input #pname="ngModel" required minlength="10" maxlength="15" type="text" class="form-control"
            [(ngModel)]="product.name" name="pname" placeholder="Product Name">
        <div *ngIf="!pname.pristine && pname.errors?.required">
            Please enter a product Name!
        </div>
        <div *ngIf="!pname.pristine && pname.errors?.minlength">
                Product Name should be of 10 chars!
            </div>
    </div>
    <div class="form-group">
        <input min="5" max="2000" type="number" class="form-control" [(ngModel)]="product.price" name="price"
            placeholder="Product Price">
    </div>
    <div class="form-group">
        <input required type="datetime" class="form-control" [(ngModel)]="product.mfd" name="mfd" placeholder="MFD">
    </div>
    <div class="form-group">
        <input required type="text" class="form-control" [(ngModel)]="product.seller" name="seller"
            placeholder="Seller">
    </div>
    <div>
        <button [disabled]="productForm.invalid" class="btn btn-success" type="submit">Add Product</button>
    </div>
</form>