<!-- <button class="btn btn-success" (click)="addOrders()">Add Orders</button>
<br>
<hr>
<app-orders></app-orders>
<br>
<hr>

<app-content-project-demo>
    <app-product></app-product>
    <app-employee></app-employee>
    <div>This is content projection demo</div>
</app-content-project-demo>



<div [ngSwitch]="role">
    <div *ngSwitchCase="'Admin'">
        This is admin view.
    </div>
    <div *ngSwitchCase="'User'">
        This is User View.
    </div>
    <div *ngSwitchDefault>
        This is default view.
    </div>
</div>

<app-employee></app-employee> -->

<!-- <app-comments></app-comments> -->
<app-main-nav></app-main-nav>