{{searchText.value}}
<input type="text" [formControl]="searchText">

{{orderForm.value | json}}

<form [formGroup]="orderForm">
    <div class="form-group">
        <input class="form-control" type="text" formControlName="name" placeholder="Customer Name">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" formControlName="email" placeholder="Customer Email">
    </div>
    <div class="form-group">
        <input class="form-control" type="text" formControlName="mobile" placeholder="Customer Mobile">
    </div>
    <div formGroupName="address">
        <div class="form-group">
            <input class="form-control" type="text" formControlName="addrLine1" placeholder="Address Line1">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" formControlName="addrLine2" placeholder="Address Line2">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" formControlName="city" placeholder="City">
        </div>
        <div class="form-group">
            <input class="form-control" type="text" formControlName="pin" placeholder="Pin">
        </div>
    </div>
    <div>
        <button class="btn btn-success" type="button" (click)="addProductControl()">Add Product</button>
        <button class="btn btn-success" type="button" (click)="removeAll()">Remove All</button>
    </div>
    <div formArrayName="products">
        <div *ngFor="let prduct of productArray.controls; let i=index">
            <div [formGroupName]="i">
                <div class="form-group">
                    <input class="form-control" type="text" formControlName="name" placeholder="Name">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" formControlName="price" placeholder="Price">
                </div>
                <div class="form-group">
                    <input class="form-control" type="number" formControlName="qty" placeholder="Qty">
                </div>
            </div>
            <div>
                <button class="btn btn-danger" type="button" (click)="removeProductControl(i)">Remove Product</button>
            </div>
        </div>
    </div>

</form>